#
# Touchscreen driver configuration
#

menuconfig TOUCHSCREEN_MTK
	bool "Touchscreens"
	help
	  Say Y here, and a list of supported touchscreens will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if TOUCHSCREEN_MTK


endif # MESON_INPUT_TOUCHSCREEN
